@import "@/common/scss/color";
.sug{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: relative;
	width: 100%;


	&-img{
		background: linear-gradient(0deg,#181818,transparent 50%);

		&-title{
			bottom: 5%;
			left: 3em;
			position: absolute;
			width: 40%;

			&-logo{
				margin-bottom: 1.5em;
			} 
		}

		&-logo{
			&-btn{
				align-items: center;
				display: flex;
				margin-bottom: 1em;
				min-height: 2em;
				position: relative;
				z-index: 2;

				&-play-btn{
					padding: 0 2vw;
					border-radius: 7px;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					&-margin{
						margin: 0 0.3vw;
					}
				 &-svg{
					 height: 16px;
						width: 16px;
					display: flex;
			    -webkit-box-align: center;
					align-items: center;
					-webkit-box-pack: center;
				 justify-content: center;
				 }

				 &-word{
					 margin-left: 0.4vw;
					 box-sizing: border-box;
					display: flex;
					height: 100%;
					position: relative;
					width: 100%;
						&-ltr{
							-webkit-font-smoothing: antialiased;
							display: block;
							font-size: 17px;
							font-weight: 600;
							line-height: 2.4rem;
						}
				 }
				}
			}
		}

	}

	&-row{
		z-index: 0;
		position: relative;
		padding-bottom: 40%;
		margin-bottom: 10px;
		background-color: #000;
		touch-action: pan-y;
		user-select: none;
		-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	}

	&-billboard{
		background-color: #000;
    position: absolute;
    width: 100%;
    z-index: 0;
	}

	&-static-image{
		background-position: 50%;
    width: 100%;
	}
	&-screen {
    bottom: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    left: 0;
    opacity: 1;
    right: 0;
    top: 0;
    transition: opacity .4s cubic-bezier(.665,.235,.265,.8) 0s;
	}

	&-wrapper{
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	&-left-vignette{	

		background: linear-gradient(77deg,rgba(20,20,20,.6),transparent 85%);
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 26.09%;
    top: 0;
    transition: opacity .5s;
	}

	&-bottom-vignette{
		position: absolute;
		background-color: transparent;
    background-image: linear-gradient(180deg,hsla(0,0%,8%,0) 0,hsla(0,0%,8%,.15) 15%,hsla(0,0%,8%,.35) 29%,hsla(0,0%,8%,.58) 44%,#141414 68%,#141414);
    background-position: 0 top;
    background-repeat: repeat-x;
    background-size: 100% 100%;
    bottom: -1px;
    height: 14.7vw;
    opacity: 1;
    top: auto;
    width: 100%;
	}

	&-close{
		&-previewModal{
			position: absolute;
			cursor: pointer;
			right: 0;
			top: 0;
			z-index: 2;
			margin: 1em;
		}

	}
}


.embedded {
	align-items: center;
  bottom: 35%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}
