.space{
	margin: 0 0.7vw;
}
.general{
	font-size: 1vw;
	width: auto;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.7);
	padding: 0.2vw 0.3vw;
}

.small{
	margin-left: 0.3vw;
	font-size: 0.6vw;
	width: auto;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.7);
	padding: 0.2vw 0.3vw;
}
