.header {
	padding: 0;
	margin: 0;
	width: 100vw;
	font:{
		size: 32px;
	}
}

.content {
	display: flex;
	align-items: center;
	align-content: center;
	padding: 15px 42px;

	&-logo{
		flex: 2;
		height: auto;
	}

	&-cate{
		flex: 7;
	}

	&-search{
		color: black;
	}

	&-uesr{
		flex: 2;
		display: inline-flex;
		justify-content: space-around;
	}
}


