@import "@/common/scss/common";
@import "@/common/scss/color";

.search{
	display: flex;
	justify-items: center;
	flex-direction:  row-reverse;
	width: 100%;
	height: 100%;

	&-input{
		.el-input__wrapper{
			background: $backgroundColor;
		}

    .el-input__inner:focus{
        border:none;
   }
	}


	&-icon{
		height: $iconSize;
		width: $iconSize;
	}
}
