@import "@/common/scss/color";
@import "@/common/scss/common";
:root{
  padding: 0;
  margin: 0;
	background-color: $backgroundColor;
	color: #fff;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

body{
	margin: 0;
	padding: 0;
}

.main-bottom{
	position: relative;
	bottom: 16vh;
}

.main-footer {
	margin-top: -16vh;
}
